<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Database</servlet-name>
        <servlet-class>DB.Database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>DB.Admin.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSession</servlet-name>
        <servlet-class>DB.Admin.GetSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFaculty</servlet-name>
        <servlet-class>DB.Admin.AddFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudents</servlet-name>
        <servlet-class>DB.Admin.ViewStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFaculty</servlet-name>
        <servlet-class>DB.Admin.ViewFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>DB.Admin.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>DB.Student.StudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>DB.Student.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GiveFeedback</servlet-name>
        <servlet-class>DB.Student.GiveFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFeedback</servlet-name>
        <servlet-class>DB.Student.SubmitFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedback</servlet-name>
        <servlet-class>DB.Admin.ViewFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>DB.Admin.Feedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Database</servlet-name>
        <url-pattern>/Database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSession</servlet-name>
        <url-pattern>/GetSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFaculty</servlet-name>
        <url-pattern>/AddFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudents</servlet-name>
        <url-pattern>/ViewStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFaculty</servlet-name>
        <url-pattern>/ViewFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/StudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GiveFeedback</servlet-name>
        <url-pattern>/GiveFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFeedback</servlet-name>
        <url-pattern>/SubmitFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedback</servlet-name>
        <url-pattern>/ViewFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
